body {
  font-family: 'Montserrat', sans-serif;
}
/* Mix */
.p_top_80 {
  padding-top: 80px;
}
.p_bottom_80 {
  padding-bottom: 80px;
}
.bg_green {
  background-color: lightgreen;
}
.bg_light_blue {
  background-color: lightblue;
}
.text-white {
  color: white;
}
.text-up {
  text-transform: uppercase;
}
.wrapper_small {
  max-width: 900px;
  margin: auto;
}
/* Header */
/* Header top */
.header__top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 70px;
  background-color: #2C3E50;
  color: white;
  line-height: 70px;
}
.logo {
  font-size: 2.5rem;
  font-weight: 700;
}
.links {
  list-style: none;
}
.links__item {
  display: inline-block;
  margin: auto 15px;
}
.header-links {
  font-size: 1.5rem;
  font-weight: 700;
}
/* Jumbotron */
.jumbo {
  margin-top: 70px;
  background-color: green;
  padding: 70px 0;
}
.jumbo__text {
  max-width: 900px;
  margin: auto;
  padding: 0 15px;
  text-align: center;
}

/* Main */
/* Portfolio */
.portfolio__box {
  height: 100px;
  margin-bottom: 20px;
  background-color: blue;
}
/* /Portfolio */
/* About */
.about {

}
/* /About */
/* Contact */

/* /Contact */

/* Footer */
/* Footer top */


/* Footer bottom */
.footer__bottom {
  padding: 20px 0px;
  background-color: blue;
  color: white;
}

/* /Footer */
