body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
/* Mix */
.p_top_80 {
  padding-top: 80px;
}
.p_bottom_80 {
  padding-bottom: 80px;
}
.bg_green {
  background-color: lightgreen;
}
.bg_light_blue {
  background-color: lightblue;
}
.text-white {
  color: white;
}
.text-grey {
  color: #2C3E50;

}
.text-up {
  text-transform: uppercase;
}
.wrapper_small {
  max-width: 900px;
  margin: auto;
}
/* Header */
/* Header top */
.header__top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 70px;
  background-color: #2C3E50;
  color: white;
  line-height: 70px;
}
.logo {
  font-size: 2.5rem;
  font-weight: 700;
}
.links {
  list-style: none;
}
.links__item {
  display: inline-block;
  margin: auto 15px;
}
.header-links {
  font-size: 1.5rem;
  font-weight: 700;
}
/* Jumbotron */
.jumbo {
  margin-top: 70px;
  background-color: #1ABC9C;
  padding: 70px 0;
}
.jumbo__text {
  max-width: 900px;
  margin: auto;
  padding: 0 15px;
  text-align: center;
}
.jumbo__img {
  max-width: 15rem;
  height: auto;
  margin-bottom: 48px;
}
.jumbo__title {
  font-size: 64px;
  font-weight:700;
}
.star {
  margin: 24px 0px;
}
.jumbo__job {
  font-size: 1.5rem;
  font-weight: 500;
}
/* Main */
/* Portfolio */
.title-section {
  font-size: 3rem;
  font-weight: 700;
  line-height: 2.5rem;
}
.portfolio {
  padding: 96px 0px;
}
.portfolio__box {

  margin-bottom: 20px;
}
/* /Portfolio */
/* About */
.about {
  background-color: #1ABC9C;
}
.btn-download {
  margin: 25px 0;
  padding: 16px 28px;
  font-size: 1.25rem;
  background-color: transparent;
  border: 1px solid #fff;
}
.icon-download {
  margin-right: 10px;
}
/* /About */
/* Contact */

/* /Contact */

/* Footer */
/* Footer top */


/* Footer bottom */
.footer__bottom {
  padding: 20px 0px;
  background-color: blue;
  color: white;
}

/* /Footer */
